/* html {
    font-size: 62.5%;
    box-sizing: border-box;
  } */
  
  /* *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  } */
  
  .calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
  }
  
  .calculator-screen {
    width: 100%;
    height: 20vh;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 4rem;
    overflow-y: auto;
  }
  
  button {
    height: 60px;
    font-size: 2rem!important;
  }
  
  .equal-sign {
    height: 100%;
    grid-area: 3/4/5/4;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }