
.group-signUP{
    margin: 20px;
}

.Bagi-su{
    display: flex;
    /* justify-content: space-between; */
    /* gap: 15%; */
    margin-top: 59px;
    min-height: 90vh;
}

.left-side-su{
    position: relative;
    width: 50%;
    background-image: url('../img/signup-banner.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.right-side-su{
    padding-right: 80px;
    padding-top: 50px;
    width: 46vw;
    margin-left: 100px;
}

@media (max-width: 700px)  {
  
    .m-view{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Bagi-su{
       
        /* margin-top: 59px; */
        height: 100%; 
        min-height: 100vh;
    }
    .left-side-su{
       display: none;
    }

    .right-side-su{
        /* padding-right: 80px; */
        padding-left: 20px;
        padding-top: 50px;
        width: 100%;
    }
  }