
.group-signIn{
    margin: 20px;
}

.Bagi-si{
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
    /* height: 100%; */ 
    min-height: 90vh;
}

.left-side-si{
    position: relative;
    width: 50%;
    background-image: url('../img/signin-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.right-side-si{
    padding-right: 80px;
    padding-top: 50px;
    width: 46vw;
}

@media (max-width: 700px)  {
  
    .m-view{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Bagi-si{
       
        /* margin-top: 59px; */
        height: 100%; 
        min-height: 100vh;
    }
    .left-side-si{
       display: none;
    }

    .right-side-si{
        /* padding-right: 80px; */
        padding-left: 20px;
        padding-top: 50px;
        width: 100%;
    }
  }
